<section ng-controller="ArtileController">
    写博客
    <div>
        标题:<input type="text" ng-model="blog.title"> <br>
        内容:<textarea rows="8" ng-model="blog.content" style="width:40%"></textarea> <br>
        <input type="submit" ng-click="addBlog()" value="提交">
    </div>
</section>