<section ng-controller="ArtileController">
    <div>
        博客列表
        <button ng-click="addArticle()">写博客</button>
    </div>
    <br>
    <a href="/#/blog">全部</a>
    <div>
        <table border="1" bordercolor="gray">
            <tr>
                <td>标题</td>
                <td>内容摘要</td>
                <td>作者</td>
                <td>创建日期</td>
                <td>最后更新日期</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="blog in blogs">
                <td>{{blog.title}}</td>
                <td>{{blog.content}}</td>
                <td>
                    <a href="/#/blog/{{blog.author._id}}">{{blog.author.username}}</a>
                </td>
                <td>{{blog.createDate}}</td>
                <td>{{blog.updateDate}}</td>
                <td>
                    <a href="/#/blog/details/{{blog._id}}">详细</a>
                    <a ng-if="user._id === blog.author._id" href="/#/blog/edit/{{blog._id}}">修改</a>
                    <button ng-if="user._id === blog.author._id" ng-click="delBlog()">删除</button>
                </td>
            </tr>
        </table>
    </div>
</section>