<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>MYMEAN</title>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
</head>
<body ng-app='mean'>

<div ng-view></div>

<div align="center">
    版权归inggg所有
</div>
<!--主页路由和控制器-->
<script src="/routers/homepage.client.route.js"></script>
<script src="/controllers/homepage.client.controller.js"></script>
<script src="/routers/article.client.route.js"></script>
<script src="/controllers/article.client.controller.js"></script>
<script src="/controllers/article.edit.client.controller.js"></script>
</body>
</html>